aiohttp==3.11.11
autogen_core==0.7.5
autogen_ext==0.7.5
deepspeed==0.15.4
fastapi==0.122.0
imageio==2.37.0
matplotlib==3.10.7
mplsoccer==1.6.1
numpy==2.3.5
openai==2.8.1
pandas==2.3.3
Pillow==12.0.0
Requests==2.32.5
scipy==1.16.3
tool==0.8.0
torch==2.5.1+cu118
transformers==4.46.1
utils==1.0.2
uvicorn==0.38.0
wandb==0.23.0
